:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  background: linear-gradient(to right, #ffa751, #f3e187);
  margin: 0;
  padding: 0;
}

/* temas alternativos */
.dark {
  --fg-1: #dad9d9;
  --fg-2: #cacaca;
  --fg-3: #c4c4c4;
  --fg-4: #b6b6b6;
  --bg-1: #333341;
  --bg-2: #27272e;
  --bg-3: #1c1c21;
  --bg-4: #141418;
}

.light {
  --fg-1: #333341;
  --fg-2: #27272e;
  --fg-3: #1c1c21;
  --fg-4: #141418;
  --bg-1: #dad9d9;
  --bg-2: #cacaca;
  --bg-3: #c4c4c4;
  --bg-4: #b6b6b6;
}

.solar {
  --fg-1: #576e75;
  --fg-2: #4c6871;
  --fg-3: #47666f;
  --fg-4: #294952;
  --bg-1: #fdf6e3;
  --bg-2: #f8eac6;
  --bg-3: #f2dda6;
  --bg-4: #eccd77;
}

.bg1 {
  background-color: var(--bg-1);
}
.bg2 {
  background-color: var(--bg-2);
}
.bg3 {
  background-color: var(--bg-3);
}
.bg4 {
  background-color: var(--bg-4);
}
.fg1 {
  color: var(--fg-1);
}
.fg2 {
  color: var(--fg-2);
}
.fg3 {
  color: var(--fg-3);
}
.fg4 {
  color: var(--fg-4);
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* Botones estilos */
button.btn span {
  color: white;
}

button.btn {
  border-radius: 0.3rem;
  transition: 0.4s all;
  background-color: #4b594c;
}

button.btn:hover {
  background-color: #79927d;
  border: 1px solid rgb(79, 87, 86);
  border-radius: 0.4rem;
  transform: scale(1.01, 1.01);
}

button.botonCerrar:hover {
  border: 1px solid rgb(138, 37, 37);
  border-radius: 15px;
  background-color: rgb(82, 43, 43);
}

.log-in {
  background: linear-gradient(to right, #ffa751, #ffe259);
}

.bg {
  background-image: url(/staycool.jpg);
  background-position: center center;
  background-size: cover;
}
